<main class="users-container">
  <h1>Users</h1>

  <% if (users.length === 0) { %>
    <p>No users found.</p>
  <% } else { %>
    <ul class="users-list">
      <% users.forEach(u => { %>
        <li class="user-item" style ="--user-color: var(--<%= u.user_color || 'pastel-blue' %>);">
          <a href="/user/<%= u.user_id %>" class="user-header">
            <h2><%= u.name %> <% if (user) { %> (<%= u.email %>) <% } %></h2>
          </a>
          <p><strong>Favorite Book:</strong> <%= u.favorite_book_title || 'None' %></p>
          <p><strong>Review Count:</strong> <%= u.review_count %></p>
        </li>
      <% }) %>
    </ul>
      <div class="pagination-container">
        <a href="?page=<%= page - 1 %>" class="btn btn-prev<%= page > 1 ? '' : ' d-none' %>">&lt; Previous Page</a>
        <p class ="pagination-info">Page <%= page %></p>
        <a href="?page=<%= nextPage %>" class="btn btn-next<%= nextPage ? '' : ' d-none' %>">&gt; Next Page</a>
      </div>
  <% } %>
</main>